<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🪛</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <div
        style="display: flex; align-items: center; gap: 10px; transform: translateX(-520px); margin-top: 30px; margin-bottom: 20px;">
        <img src="static/otvertka.png" style="width:48px; height:48px; border-radius:50px; border:1px #D0D0D0 solid;">
        <span style="font-size:16px; font-weight:700; color:#141414;">Распознаватель инструментов</span>
    </div>
    <div id="loading">Loading...</div>
    <div id="screen1" class="hidden" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; /* расстояние между заголовком и кнопкой */
    height: 50vh; /* занимает всю высоту окна */
">
        <!-- Заголовок -->
        <div style="color: #141414; font-size: 40px; font-weight: 700; text-align: center;">
            Выбери фотографии инструментов
        </div>

        <!-- Кнопка -->
        <label for="fileInputScreen1" style="
            cursor: pointer;
            background-color: #6169FF;
            color: white;
            padding: 17px 34px;
            border-radius: 16px;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            gap: 8px;
        ">
            <img src="static/plus.png" alt="+" style="width: 22px; height: 22px;">
            Загрузить изображения
        </label>
        <input type="file" multiple id="fileInputScreen1" accept="image/*" style="display: none;">
    </div>

    <div id="screen2" class="" style="display: flex; gap: 20px; max-width: 100%; align-items: flex-start;">


        <div style="display: flex; flex-direction: column; align-items: center; gap: 16px;">
            <!-- Контейнер для изображения -->
            <div id="imgFrame">
                <img id="imageContainer" src="static/otvertka.png" alt="empty" style="display: block">
                <button class="nav-btn left"></button>
                <button class="nav-btn right"></button>
            </div>

            <div
                style="width: 90%; padding: 0 32px; margin-top: 8px; display: flex; justify-content: space-between; align-items: center;">
                <!-- Левая часть -->
                <div style="display: flex; align-items: center; gap: 12px;">
                    <select id="currentImageFileSelector"></select>
                    <img src="static/blue_arrow.png" style="width:16px; height:8px; margin-left: -28px;">
                </div>

                <!-- Правая часть -->
                <span id="frameCounter" style="font-size: 16px; font-weight: 500;">0 / 0</span>
            </div>

            <div style="width: 88%; padding: 0 32px; margin-top: 8px; display: flex; align-items: center; gap: 8px;">
                <label class="switch">
                    <input type="checkbox" id="switchShowRawImage" checked>
                    <span class="slider"></span>
                </label>
                <span style="font-size: 14px; color: #141414;">Отображать контуры распознанных инструментов</span>
            </div>


            <!-- Контейнер для кнопок под изображением -->
            <div style="display: flex; justify-content: center; gap: 16px; margin-top: 12px;">
                <!-- Левая кнопка -->
                <label for="fileInputScreen2" style="
            cursor: pointer;
            background-color: #6169FF;
            color: white;
            padding: 17px 34px;
            border-radius: 16px;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            gap: 8px;
        ">
                    <img src="static/plus.png" alt="+" style="width: 22px; height: 22px;">
                    Добавить изображение
                </label>
                <input type="file" multiple id="fileInputScreen2" accept="image/*" style="display: none;">
                <!-- Средняя кнопка -->
                <label for="jsonLoad" style="
            cursor: pointer;
            border: 1px solid #D0D0D0;
            background: #FFF;
            color: #141414;
            padding: 17px 34px;
            border-radius: 16px;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            gap: 8px;
        ">
                    <img src="static/download.png" alt="+" style="width: 22px; height: 22px;">
                    <a href="/get_json_report" download style="text-decoration: none; color: inherit;">Скачать
                        результат</a>

                </label>
                <input type="button" id="jsonLoad" style="display: none;" onclick="jsonDownload()">


                </label>
                <button id="BtnCleanerDatabaseAndImageStorage">
                    <img src="static/refresh.png" alt="+" style="width: 20px; height: 20px;">
                    Начать заново</button>
                <!-- <input type="button"  style="display: none;" onclick="()"> -->
                <!-- <input type="button" id="BtnCleanerDatabaseAndImageStorage" style="display: none;" onclick="clearDatabaseAndImageStorage()"> -->
            </div>


        </div>

        <div>
            <div class="cart-panel" id="cartPanel">


                <div class="cart-list"
                    style="display: grid; grid-template-columns: 2fr 2fr 1fr; gap: 44px; align-items: center; row-gap: 26px; ">

                    <!-- Заголовки -->
                    <div style="font-weight: 700; padding: 0px 12px">Инструмент</div>
                    <div style="font-weight: 700;">Ожидается</div>
                    <div style="font-weight: 700;">Найдено</div>

                    <!-- Строки товаров -->
                    {% for item in cart_items %}
                    <div id="row_{{ loop.index }}" class="row-name">{{ item }}</div>

                    <div class="cart-row" style="display: flex; align-items: center;">
                        <button class="qty-btn minus" type="button" aria-label="Уменьшить">−</button>
                        <input id="table_{{ loop.index }}1" class="qty-input" type="text" inputmode="numeric"
                            pattern="[0-9]*" value="1" aria-label="Количество">
                        <button class="qty-btn plus" type="button" aria-label="Увеличить">+</button>
                    </div>

                    <div style="text-align: center;">
                        <span id="table_{{ loop.index }}2" class="qty-text">1</span>
                    </div>
                    {% endfor %}

                </div>

            </div>
            <div id="checkStatus"> Статус обновляется в highlightDifferences() </div>
        </div>

    </div>
    <script src="/static/main.js"></script>
    <script src="/static/table.js"></script>
</body>

</html>